.center {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  /* height: 100vh; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
}

#clock {
  margin: 2px;
  background-color: rgb(209, 113, 28);
  color: aliceblue;
  border-radius: 20px;
  padding: 20px;
}
